html { 
  background: url(../images/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica;
}

#start-box {
  position: fixed;
  width: 700px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin: -200px 0px 0px -350px;
  text-align: center;
  background-color: rgba(0, 20, 0, .6);
  color: #D7DFA1;
  border: 2px solid black;
}

#start-box h1 {
  padding-top: 20px;
}

#start-box form {
  margin-top: 50px;
}

#start-box form input {
  margin-top: 15px;
}
