html { 
  height: 100%;
  font-family: Helvetica;
}

body {
  background: url(../images/bg2.jpg) no-repeat top left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body > div.row-fluid {
  height: 100%;
}

#main {
  width: 800px;
  margin: auto;
  position: relative;
  left: 50%;
  margin-left: -400px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
}

#start-box {
  position: fixed;
  width: 700px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin: -200px 0px 0px -350px;
  text-align: center;
  background-color: rgba(0, 20, 0, .6);
  color: #D7DFA1;
  border: 2px solid black;
}

#start-box h1 {
  padding-top: 20px;
}

#start-box form {
  margin-top: 50px;
}

#start-box form input {
  margin-top: 15px;
}

#main #racer-list-container {
  padding-left: 25px;
}

#main #racer-list-container .span2 {
  float: left;
  font-size: 22px;
  height: 50px;
  list-style: none;
  padding-top: 10px;
}

#main #userpanel-container {
  background: white;
}

#main #userpanel-container .bet {
  height: 28px;
  font-size: 28px;
  padding: 5px;
}

#main #userpanel-container .bet:hover, #main #userpanel-container .bet.selected {
  background: grey;
  color: white;
}

#track-container {
  position: relative;
  clear: both;
  width: 100%;
  height: 400px;
}

.horse {
  position:absolute;
  width: 100px;
  height: 100px;
  background: url(../images/small-horse-red.png);
  background-size: cover;
}

.wall {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #8B4513;
}
